@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/***
 * BxSlider v4.2.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 ***/
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
}

.bxslider {
  margin: 0;
  padding: 0;
}

ul.bxslider {
  list-style: none;
}

.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}

/** THEME
===================================*/
.bx-wrapper {
  /*-webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 5px solid #fff;
  background: #fff;*/
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 8px;
  right: 104px;
}

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../image/bx_loader.gif) center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #fdfcfb;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #b18741;
}

.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 0px;
  background: url(../image/arrows-main.png) no-repeat 20px 0px;
}

.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  opacity: 1;
}

.bx-wrapper .bx-next {
  right: 0px;
  background: url(../image/arrows-main.png) no-repeat -12px 0px;
}

.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  opacity: 1;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 0px;
  outline: 0;
  width: 32px;
  height: 315px;
  text-indent: -9999px;
  z-index: 9999;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../image/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../image/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

.wall_close {
  display: block;
  width: 28px;
  height: 28px;
  background: url("../image/close.png") no-repeat;
}
.wall_left {
  display: block;
  width: 13px;
  height: 28px;
  background: url("../image/arrows-catalog.png") no-repeat;
}
.wall_right {
  display: block;
  width: 13px;
  height: 28px;
  background: url("../image/arrows-catalog.png") no-repeat;
  background-position: -13px 0px;
}

/**
 *
 * Used to generate responsive styles according to the breakpoint we set into the variables file
 *
 */
/**
 *
 * Simpler shortcut to create easily break points
 *
 */
/**
 * Easy functions to create easily pure css arrows anywhere
 */
/**
 *
 * The wall could be used to show an image gallery or any other content in a "google images" user interaction way
 * Here there is all the html needed
 *
 *
 *  <div class="GITheWall">
 *    <ul>
 *      <li data-contenttype="image" data-href="path/to/the/image">
 *        <img src="small/thumb" />
 *      <li>
 *      <li data-contenttype="ajax" data-href="path/to/the/html/to/load">
 *        <img src="small/thumb" />
 *      <li>
 *    </ul>
 *  </div>
 *
 */
/*.GITheWall ul {
  list-style: none;
  padding: 20px 0;
  margin: 0 auto;
  text-align: left;
  width: 100%;
}
.GITheWall ul li {
  display: inline-block;
  margin: 10px 5px 0 5px;
  vertical-align: top;
  width: 200px;
}*/
.GITheWall ul li.GI_TW_Selected_Row {
  -webkit-transition: margin-bottom 0.3s ease-in;
  -moz-transition: margin-bottom 0.3s ease-in;
  -o-transition: margin-bottom 0.3s ease-in;
  transition: margin-bottom 0.3s ease-in;
}

.GI_TW_expander {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 10px;
  /*margin-left: 20px;
  margin-right: 20px;*/
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s ease-in;
  -moz-transition: height 0.3s ease-in;
  -o-transition: height 0.3s ease-in;
  transition: height 0.3s ease-in;
}

.GI_TW_expander.animating {
  overflow: hidden !important;
}

.GI_TW_expander.opened {
  overflow: visible;
}

.GI_TW_expander .GI_TW_pointer {
  position: absolute;
  margin-left: -20px;
  margin-top: -20px;
  width: 0;
  height: 0;
  border-left: 19px solid transparent;
  border-right: 19px solid transparent;
  border-bottom: 20px solid #fdfcfb;
  /*border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: transparent transparent #fdfcfb transparent;*/
  -webkit-transition: left 0.3s ease-in;
  -moz-transition: left 0.3s ease-in;
  -o-transition: left 0.3s ease-in;
  transition: left 0.3s ease-in;
}

.GI_TW_expander .GI_TW_expander-inner {
  width: 100%;
  height: 560px;
  margin: 0 auto;
  overflow: hidden;
}

.GI_TW_expander .GI_TW_expander-inner .GI_TW_fullimg {
  position: relative;
  width: 100%;
  height: 580px;
  margin: 10px 0 0;
  padding-left: 30px;
  overflow: hidden;
}

.GI_TW_expander .GI_TW_expander-inner .GI_TW_fullimg img {
  position: relative;
  width: 437px;
  display: block;
}

.GI_TW_expander .GI_TW_Controls {
  z-index: 1;
}

.GI_TW_expander .GI_TW_close {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 15px;
  right: 36px;
  cursor: pointer;
}

.GI_TW_expander .GI_TW_arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.GI_TW_expander .GI_TW_arrow.GI_TW_hidden {
  display: none;
}

.GI_TW_expander .GI_TW_arrow.GI_TW_next {
  right: 0px;
}

.GI_TW_expander .GI_TW_arrow.GI_TW_prev {
  left: 0px;
}

/*.GI_TW_expander .GI_TW_loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ddd;
  box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #cccccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0;
  -webkit-animation: loader 0.5s infinite ease-in-out both;
  -moz-animation: loader 0.5s infinite ease-in-out both;
  -ms-animation: loader 0.5s infinite ease-in-out both;
  -o-animation: loader 0.5s infinite ease-in-out both;
  animation: loader 0.5s infinite ease-in-out both;
}*/
@-moz-keyframes loader {
  0% {
    background: #ddd;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}
@-webkit-keyframes loader {
  0% {
    background: #ddd;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}
@-o-keyframes loader {
  0% {
    background: #ddd;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}
@-ms-keyframes loader {
  0% {
    background: #ddd;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}
@keyframes loader {
  0% {
    background: #ddd;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #cccccc, -15px 30px 1px #dddddd;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #cccccc, 15px 30px 1px #dddddd, -15px 30px 1px #cccccc;
  }
}
@font-face {
  font-family: 'adantino';
  src: url("fonts/adantino.eot");
  src: url("fonts/adantino.eot?#iefix") format("embedded-opentype"), url("fonts/adantino.woff2") format("woff2"), url("fonts/adantino.woff") format("woff"), url("fonts/adantino.ttf") format("truetype"), url("fonts/adantino.svg#andantino") format("svg");
  /*font-weight: normal;
  font-style: normal;*/
}
@font-face {
  font-family: 'myriad';
  src: url("fonts/MyriadProRegular.eot");
  src: url("fonts/MyriadProRegular.eot") format("embedded-opentype"), url("fonts/MyriadProRegular.woff2") format("woff2"), url("fonts/MyriadProRegular.woff") format("woff"), url("fonts/MyriadProRegular.ttf") format("truetype"), url("fonts/MyriadProRegular.svg#MyriadProRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myriadsemibold';
  src: url("fonts/myriadprosemibold.eot");
  src: url("fonts/myriadprosemibold.eot") format("embedded-opentype"), url("fonts/myriadprosemibold.woff2") format("woff2"), url("fonts/myriadprosemibold.woff") format("woff"), url("fonts/myriadprosemibold.ttf") format("truetype"), url("fonts/myriadprosemibold.svg#myriadprosemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  background: url("../image/bac.jpg") #ffffff;
  font-family: myriad, helvetica, arial, sans-serif;
  color: #040404;
  font-size: 15px;
}

h1 {
  font-family: myriadsemibold;
  text-transform: uppercase;
  font-size: 19px;
  color: #caa466;
  padding: 30px 0px 20px 0px;
}

.hide {
  display: none;
}

.inner {
  width: 1000px;
  margin: 0 auto;
  background-color: #fdfcfb;
}

.header {
  overflow: hidden;
  padding: 34px 0px 10px 0px;
}
.header_logo {
  display: block;
  margin: 0px 0px 0px 22px;
  float: left;
  background: url("../image/logo.png") no-repeat;
  width: 137px;
  height: 118px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.header_center {
  margin: 0px 0px 0px 38px;
  float: left;
  width: 535px;
}
.header_info {
  margin: 0px 0px 0px 56px;
  float: left;
}
.header_slang {
  width: 369px;
  height: 58px;
  background: url("../image/slang.png") no-repeat;
  margin: 10px auto 0px auto;
}
.header_phone {
  padding: 0px 0px 11px 0px;
}
.header_phone p {
  color: #333333;
  font-size: 18px;
  line-height: 1.1;
}
.header_sub {
  padding: 0px 0px 11px 0px;
}
.header_sub p {
  position: relative;
  padding-left: 20px;
  color: #333333;
  line-height: 1.1;
}
.header_sub p:before {
  background: url("../image/sub.png") 0px 0px no-repeat;
  content: "";
  display: inline-block;
  width: 20px;
  height: 12px;
  position: absolute;
  left: -1px;
  top: 2px;
}
.header_time p {
  line-height: 1.1;
}

.hmenu {
  border: 1px solid #dbdada;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 17px 0px 0px 0px;
}
.hmenu_list {
  padding: 7px 28px 7px 20px;
  text-align: justify;
  /* ╨Ю╨▒╨╜╤Г╨╗╤П╨╡╨╝ ╨┤╨╗╤П ╤А╨╛╨┤╨╕╤В╨╡╨╗╤П*/
  line-height: 0;
  font-size: 1px;
  /* 1px ╨┤╨╗╤П Opera */
  text-align-last: justify;
}
.hmenu_list:after {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}
.hmenu_item {
  position: relative;
  display: inline-block;
  text-align: left;
  /* ╨Т╨╛╤Б╤В╨░╨╜╨░╨▓╨╗╨╕╨▓╨░╨╡╨╝ ╤Г ╨┐╨╛╤В╨╛╨╝╨║╨╛╨▓, ╨║╤А╨╛╨╝╨╡ ╨┐╨╛╤Б╨╗╨╡╨┤╨╜╨╡╨│╨╛*/
  line-height: normal;
  font-size: 14px;
  /* ╨С╨╡╨╖ ╨╜╨╡╨│╨╛ ╨▓ Opera ╨▒╤Г╨┤╨╡╤В ╨╛╤В╤Б╤В╤Г╨┐ ╨┐╨╛╨┤ ╤Н╨╗╨╡╨╝╨╡╨╜╤В╨░╨╝╨╕ */
  vertical-align: top;
}
.hmenu_item:before {
  background: url("../image/list.png") 0px 0px no-repeat;
  content: "";
  display: inline-block;
  width: 5px;
  height: 7px;
  position: absolute;
  left: -23px;
  top: 5px;
}
.hmenu_item:first-child:before {
  background: none;
}
.hmenu_link {
  font-family: 'myriad';
  font-size: 14px;
  color: #333333;
  text-decoration: none;
  display: block;
  text-align: center;
}
.hmenu_link:visited {
  color: #333333;
}
.hmenu_link:hover {
  color: #333333;
}
.hmenu_link:active {
  color: #333333;
}
.hmenu_link:focus {
  color: #333333;
}

.menu {
  background-color: #6b1740;
  padding: 0px 20px 0px 20px;
}
.menu_list {
  display: table;
  width: 100%;
}
.menu_item {
  display: table-cell;
}
.menu_link {
  font-family: helvetica;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  color: #fdfcfb;
  display: block;
  padding: 10px 0px 10px 0px;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.menu_link:visited {
  color: #fdfcfb;
}
.menu_link:hover {
  color: #fdfcfb;
}
.menu_link:active {
  color: #fdfcfb;
}
.menu_link:focus {
  color: #fdfcfb;
}
.menu_link__active {
  background-color: #b18741;
  -webkit-box-shadow: inset 0px 0px 3px 2px white;
  -moz-box-shadow: inset 0px 0px 3px 2px white;
  box-shadow: inset 0px 0px 3px 2px white;
}
.menu_link:hover {
  background-color: #b18741;
  -webkit-box-shadow: inset 0px 0px 3px 2px white;
  -moz-box-shadow: inset 0px 0px 3px 2px white;
  box-shadow: inset 0px 0px 3px 2px white;
}

.content {
  padding: 23px;
}

.typelist {
  padding: 16px 0px 16px 0px;
  overflow: hidden;
}
.typelist_item {
  font-family: myriadsemibold;
  font-size: 19px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #5a5a59;
  display: block;
  padding: 15px 0px 15px 0px;
  width: 32.4%;
  float: left;
  text-align: center;
  border-left: 2px solid #d9bd90;
  border-right: 2px solid #d9bd90;
  border-bottom: 2px solid #d9bd90;
  margin-left: 7px;
}
.typelist_item:visited {
  color: #5a5a59;
}
.typelist_item:hover {
  color: #5a5a59;
}
.typelist_item:active {
  color: #5a5a59;
}
.typelist_item:focus {
  color: #5a5a59;
}
.typelist_item:first-child {
  margin-left: 0px;
}

.search {
  background-color: #f3f2ed;
  margin: 0px -23px 0px -23px;
  padding: 3px 103px 3px 23px;
  overflow: hidden;
}
.search_wrap {
  float: left;
  border: 1px solid #b6b6b6;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  padding-left: 10px;
}
.search_link {
  float: right;
  color: #7e7a6c;
  font-family: arial;
  font-size: 16px;
  margin-top: 3px;
}
.search_link:visited {
  color: #7e7a6c;
}
.search_link:hover {
  color: #7e7a6c;
}
.search_link:active {
  color: #7e7a6c;
}
.search_link:focus {
  color: #7e7a6c;
}
.search input {
  border: none;
  width: 265px;
  height: 22px;
}
.search button {
  border: none;
  padding: 0px;
  width: 30px;
  height: 100%;
  background: url("../image/search.png") #ffffff no-repeat 50% 50%;
  text-indent: 9999px;
  white-space: nowrap;
  overflow: hidden;
}
.search button:hover {
  cursor: pointer;
}

.catitem {
  font-family: arial;
  position: relative;
  width: 100%;
  height: 580px;
  margin: 10px 0 0;
  padding-left: 30px;
  overflow: hidden;
}
.catitem_image {
  width: 437px;
  height: 352px;
  float: left;
}
.catitem_image img {
  width: 100%;
  height: auto;
  display: block;
}
.catitem_text {
  width: 437px;
  float: left;
  margin-left: 13px;
}
.catitem_title {
  text-align: center;
  color: #3e3e3e;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  padding-top: 16px;
}
.catitem_art {
  text-align: center;
  padding: 7px 0px 23px 0px;
  font-size: 12px;
}
.catitem_descr {
  padding: 0px 23px 0px 23px;
  height: 170px;
}
.catitem_descr p {
  font-family: arial;
  line-height: 1.2;
}
.catitem_link {
  display: block;
  padding: 6px 0px;
  width: 280px;
  margin: 0 auto;
  color: #3e3e3e;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #e3e2e1;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.catitem_link:visited {
  color: #3e3e3e;
}
.catitem_link:hover {
  color: #3e3e3e;
}
.catitem_link:active {
  color: #3e3e3e;
}
.catitem_link:focus {
  color: #3e3e3e;
}

.catalogwidth {
  padding: 0px 0px 0px 30px;
  overflow: hidden;
  position: relative;
}
.catalogwidth_list {
  width: 100%;
}
.catalogwidth_item {
  width: 212px;
  height: 171px;
  float: left;
  cursor: pointer;
  margin: 13px 13px 0px 0px;
}
.catalogwidth_item img {
  height: 100%;
  width: auto;
}
.catalogwidth_title {
  font-family: myriadsemibold;
  font-size: 15px;
  color: #434342;
  clear: both;
  float: none;
  overflow: hidden;
  padding: 0px 0px 5px 0px;
}
.catalogwidth_more {
  clear: both;
  overflow: hidden;
  text-align: right;
  padding: 13px 38px 0px 0px;
}
.catalogwidth_more a {
  font-family: arial;
  font-size: 12px;
  color: #333333;
  text-decoration: none;
}
.catalogwidth_more a:visited {
  color: #333333;
}
.catalogwidth_more a:hover {
  color: #333333;
}
.catalogwidth_more a:active {
  color: #333333;
}
.catalogwidth_more a:focus {
  color: #333333;
}

.icons {
  font-family: arial;
  font-size: 9px;
  line-height: 1.4;
  color: #4b4a4a;
  font-weight: bold;
  overflow: hidden;
  padding-top: 24px;
}
.icons_item {
  width: 150px;
  float: left;
  margin-left: 38px;
}
.icons_item:first-child {
  margin-left: 36px;
}
.icons_text {
  text-align: center;
}
.icons_image {
  display: block;
  margin: 0 auto 10px auto;
  width: 61px;
  height: 50px;
}

.quickmenu {
  overflow: hidden;
  padding: 27px 0px 0px 0px;
}
.quickmenu_item {
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  float: left;
  margin-left: 12px;
  display: block;
  width: 310px;
  height: 215px;
  position: relative;
}
.quickmenu_item:visited {
  color: #fff;
}
.quickmenu_item:hover {
  color: #fff;
}
.quickmenu_item:active {
  color: #fff;
}
.quickmenu_item:focus {
  color: #fff;
}
.quickmenu_item:first-child {
  margin-left: 0px;
}
.quickmenu_text {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 8px 0px 12px 0px;
}
.quickmenu_title {
  text-align: center;
  position: relative;
  z-index: 2;
  font-size: 21px;
  text-transform: uppercase;
}
.quickmenu_descr {
  text-align: center;
  position: relative;
  z-index: 2;
  font-size: 21px;
}
.quickmenu_wrap {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.quickmenu_wrap__1 {
  background-color: #c7a265;
}
.quickmenu_wrap__2 {
  background-color: #959595;
}
.quickmenu_wrap__3 {
  background-color: #874364;
}

.counter {
  width: 655px;
  margin: 55px 0px 0px 180px;
  padding-bottom: 15px;
  position: relative;
}
.counter p {
  font-family: corbel, arial;
  font-size: 30px;
  color: #b78502;
}
.counter_link {
  position: absolute;
  right: 0px;
  bottom: 5px;
  font-family: arial;
  font-size: 12px;
  color: #333333;
  text-decoration: none;
}
.counter_link:visited {
  color: #333333;
}
.counter_link:hover {
  color: #333333;
}
.counter_link:active {
  color: #333333;
}
.counter_link:focus {
  color: #333333;
}

.footer_top {
  background-color: #ebebeb;
  padding: 25px 0px 15px 0px;
  overflow: hidden;
}
.footer_bottom {
  padding: 8px 0px 20px 0px;
}

.follow {
  margin-bottom: 13px;
}
.follow_title {
  font-family: arial;
  padding: 0px 0px 17px 25px;
  color: #7e7a6c;
  font-size: 16px;
}
.follow_list {
  background-color: #ebebeb;
  padding: 8px 85px 10px 90px;
  text-align: justify;
  line-height: 0;
  font-size: 1px;
  text-align-last: justify;
}
.follow_list:after {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}
.follow_item {
  display: inline-block;
  text-align: left;
  line-height: normal;
  font-size: 14px;
  vertical-align: top;
}
.follow_link {
  position: relative;
  font-family: arial;
  font-size: 11px;
  color: #4b4a4a;
  text-decoration: none;
}
.follow_link:visited {
  color: #4b4a4a;
}
.follow_link:hover {
  color: #4b4a4a;
}
.follow_link:active {
  color: #4b4a4a;
}
.follow_link:focus {
  color: #4b4a4a;
}
.follow_link:before {
  background: url("../image/social.png") 20px 0px no-repeat;
  content: "";
  display: inline-block;
  width: 20px;
  height: 19px;
  position: absolute;
  left: -32px;
  top: -2px;
}
.follow_link__vk:before {
  background-position: 0px 0px;
}
.follow_link__ok:before {
  background-position: -20px 0px;
}
.follow_link__fb:before {
  background-position: -40px 0px;
}
.follow_link__ig:before {
  background-position: -60px 0px;
}
.follow_link__tt:before {
  background-position: -80px 0px;
}
.follow_link__yt:before {
  background-position: -100px 0px;
}

.fmenu {
  float: left;
  width: 170px;
  margin: 0px 0px 0px 75px;
}
.fmenu_title {
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.fmenu_item {
  margin-bottom: 7px;
}
.fmenu_link {
  font-family: arial;
  font-size: 11px;
  color: #4b4a4a;
  text-decoration: none;
}
.fmenu_link:visited {
  color: #4b4a4a;
}
.fmenu_link:hover {
  color: #4b4a4a;
}
.fmenu_link:active {
  color: #4b4a4a;
}
.fmenu_link:focus {
  color: #4b4a4a;
}

.fmenu2 {
  float: left;
  width: 195px;
  margin: 0px 0px 0px 40px;
}
.fmenu2_title {
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.fmenu2_descr p {
  font-family: arial;
  font-size: 11px;
  color: #4b4a4a;
  line-height: 1.8;
  margin-bottom: 5px;
}
.fmenu2_item {
  margin-bottom: 7px;
}
.fmenu2_link {
  position: relative;
  font-family: arial;
  font-style: italic;
  font-size: 11px;
  color: #333;
  text-decoration: none;
}
.fmenu2_link:visited {
  color: #333;
}
.fmenu2_link:hover {
  color: #333;
}
.fmenu2_link:active {
  color: #333;
}
.fmenu2_link:focus {
  color: #333;
}
.fmenu2_link:after {
  display: inline;
  content: " >";
}

.fshops {
  float: left;
  width: 220px;
  margin: 0px 0px 0px 55px;
}
.fshops_title {
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.fshops_city {
  font-family: arial;
  font-size: 11px;
  color: #333333;
  padding-left: 20px;
  margin-bottom: 10px;
}
.fshops_item {
  padding-left: 20px;
  padding-bottom: 5px;
}
.fshops_item p {
  position: relative;
  line-height: 1.5;
  font-family: arial;
  font-size: 11px;
  color: #333333;
}
.fshops_item p:first-child {
  font-weight: bold;
}
.fshops_item p:first-child:before {
  background: url("../image/sub.png") 0px 0px no-repeat;
  content: "";
  display: inline-block;
  width: 20px;
  height: 12px;
  position: absolute;
  left: -21px;
  top: 1px;
}

.fcontacts {
  float: left;
  margin: 0px 0px 0px 25px;
}
.fcontacts_title {
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.fcontacts_phone {
  padding: 0px 0px 0px 22px;
}
.fcontacts_phone p {
  color: #333;
  font-size: 17px;
  margin-bottom: 10px;
}
.fcontacts_email {
  padding: 0px 0px 10px 22px;
}
.fcontacts_email a {
  font-family: arial;
  font-size: 15px;
  color: #333;
  text-decoration: none;
  position: relative;
}
.fcontacts_email a:visited {
  color: #333;
}
.fcontacts_email a:hover {
  color: #333;
}
.fcontacts_email a:active {
  color: #333;
}
.fcontacts_email a:focus {
  color: #333;
}
.fcontacts_email a:before {
  background: url("../image/email.png") 0px 0px no-repeat;
  content: "";
  display: inline-block;
  width: 20px;
  height: 15px;
  position: absolute;
  left: -25px;
  top: 2px;
}
.fcontacts_email p {
  font-family: arial;
  font-size: 15px;
  color: #333;
}
.fcontacts_skype {
  padding: 0px 0px 0px 22px;
}
.fcontacts_skype p {
  font-family: arial;
  font-size: 15px;
  color: #333;
}

.wf {
  display: block;
  width: 170px;
  height: 37px;
  margin: 0px auto;
  background: url("../image/wf.png") no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*# sourceMappingURL=all.css.map */
