.counter{
  width: 655px;
  margin: 55px 0px 0px 180px;
  padding-bottom: 15px;
  position: relative;
  p{
    font-family: corbel, arial;
    font-size: 30px;
    color: #b78502;
  }
  &_link{
    position: absolute;
    right: 0px;
    bottom: 5px;
    font-family: arial;
    font-size: 12px;
    @include def-link-colors(#333333, #333333, #333333, #333333, #333333);
    text-decoration: none;
  }
}