.feedback1{
  .messages{
    display: none;
  }
  position: relative;
  width: 306px;
  margin: 30px 44px 0px 0px;
  &_title{
    text-transform: uppercase;
    padding: 10px 0px 15px 0px;
    text-align: center;
  }
  &_inner{
    padding: 0px 0px 3px 0px;
    input{
      //display: block;
      box-sizing: border-box;
      //width: 309px;
      height: 34px;
      width: 100%;
      border: 1px solid #d9d8d7;
      @include def-border-radius(3px);
      text-align: center;
      @include def-transition(background-color, 0.2s);
      &:hover{
        background-color: #ededed;
      }
      &:focus{
        background-color: #ededed;
      }
      &.error{
        background-color: #fabbcf;
      }
    }
    textarea{
      box-sizing: border-box;
      //display: block;
      margin: 0px;
      height: 131px;
      width: 100%;
      //width: 309px;
      border: 1px solid #d9d8d7;
      @include def-border-radius(3px);
      resize: none;
      text-align: center;
      font-family:  'MS Shell Dlg';
      font-size: 13px;
      padding-top: 5px;
      @include def-transition(background-color, 0.2s);
      &:hover{
        background-color: #ededed;
      }
      &:focus{
        background-color: #ededed;
      }
      &.error{
        background-color: #fabbcf;
      }
    }
  }
  button, .webform-submit{
    display: block;
    width: 247px;
    height: 30px;
    border: 1px solid #d9d8d7;
    @include def-border-radius(3px);
    margin: 0 auto;
    background-color: #ffffff;
    @include def-transition(background-color, 0.2s);
    &:hover{
      background-color: #ededed;
      cursor: pointer;
    }
    &:focus{
      background-color: #ededed;
    }
  }
  &_confirmation{
    p{
      text-align: center;
      padding: 0px 15px;
    }
  }
  &__full{
    width: 100%;
    margin: 0px 0px 50px 0px;
    .feedback1_title{
      text-align: left;
      padding: 0px 0px 15px 19px;
    }
    .feedback1_inner input{
      text-align: left;
      padding: 0px 0px 0px 19px;
    }
    .feedback1_inner textarea{
      text-align: left;
      padding: 5px 0px 0px 19px;
    }
    button, .webform-submit{
      margin: 0px;
    }
  }
}