.feedback2{
  .messages{
    display: none;
  }
  width: 306px;
  margin: 30px 0px 0px 0px;
  position: relative;
  &_title{
    text-transform: uppercase;
    padding: 10px 0px 18px 0px;
    text-align: center;
    &__2{
      padding: 26px 0px 15px 0px;
    }
  }
  &_person{
    overflow: hidden;
  }
  &_image{
    float: left;
    width: 108px;
    height: 95px;
  }
  &_text{
    float: left;
    width: 195px;
  }
  &_phone{
    font-size: 17px;
    padding: 15px 0px 10px 20px;
  }
  &_name{
    font-family: arial;
    font-size: 12px;
    line-height: 1.5;
    padding-left: 6px;
  }
  &_descr{
    font-family: arial;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
  }
  &_inner{
    padding: 0px 0px 3px 0px;
    input{
      height: 30px;
      width: 100%;
      border: 1px solid #d9d8d7;
      @include def-border-radius(3px);
      text-align: center;
      @include def-transition(background-color, 0.2s);
      &:hover{
        background-color: #ededed;
      }
      &:focus{
        background-color: #ededed;
      }
      &.error{
        background-color: #fabbcf;
      }
    }
  }
  button, .webform-submit{
    display: block;
    width: 247px;
    height: 30px;
    border: 1px solid #d9d8d7;
    @include def-border-radius(3px);
    margin: 0 auto;
    background-color: #ffffff;
    @include def-transition(background-color, 0.2s);
    &:hover{
      background-color: #ededed;
      cursor: pointer;
    }
    &:focus{
      background-color: #ededed;
    }
  }
  &_confirmation{
    p{
      text-align: center;
      padding: 0px 15px;
    }
  }
}