.follow{
  &_title{
    font-family: arial;
    padding: 0px 0px 17px 25px;
    color: #7e7a6c;
    font-size: 16px;
  }
  &_list{
    background-color: #ebebeb;
    overflow: hidden;
  }
  &_item{
    float: left;
  }
  &_link{
    font-family: arial;
    font-size: 11px;
    @include def-link-colors(#4b4a4a, #4b4a4a, #4b4a4a, #4b4a4a, #4b4a4a);
    text-decoration: none;
  }
}