.follow{
  margin-bottom: 13px;
  &_title{
    font-family: arial;
    padding: 0px 0px 17px 25px;
    color: #7e7a6c;
    font-size: 16px;
  }
  &_list{
    background-color: #ebebeb;
    padding: 12px 85px 0px 90px;
    height: 29px;
    //overflow: hidden;
    text-align: justify;
    line-height: 0;
    font-size: 1px;
    @include old-ie{
      text-justify: newspaper;
      zoom:1;
    }
    text-align-last: justify;
    &:after{
      width: 100%;
      height: 0;
      visibility: hidden;
      overflow: hidden;
      content: '';
      display: inline-block;
    }
  }
  &_item{
    //float: left;
    display: inline-block;
    text-align: left;
    line-height: normal;
    font-size: 14px;
    vertical-align: top;
    @include old-ie{
      *display : inline;
      *zoom : 1;
    }
  }
  &_link{
    position: relative;
    font-family: arial;
    font-size: 11px;
    display: block;

    @include def-link-colors(#4b4a4a, #4b4a4a, #4b4a4a, #4b4a4a, #4b4a4a);
    text-decoration: none;
    &:before{
      background: url("../image/social2.png") 30px 0px no-repeat;
      content: "";
      display: inline-block;
      width: 30px;
      height: 30px;
      position: absolute;
      left: -42px;
      top: -7px;
    }
    @include old-ie{
      *zoom: expression(
        this.runtimeStyle.zoom="1",
        this.appendChild( document.createElement("small") ).className="before"
      );
      .before{
        background: url("../image/social.png") 30px 0px no-repeat;
        width: 30px;
        height: 30px;        
        position: absolute;
        left: -42px;
        top: -7px;   
      }
      &__vk{
        .before{
          background-position: 0px 0px;
        }
      }
      &__ok{
        .before{
          background-position: -30px 0px;
        }
      }
      &__fb{
        .before{
          background-position: -60px 0px;
        }
      }
      &__ig{
        .before{
          background-position: -90px 0px;
        }
      }
      &__tt{
        .before{
          background-position: -120px 0px;
        }
      }
      &__yt{
        .before{
          background-position: -150px 0px;
        }
      }
    }
    &__vk{
      &:before{
        background-position: 0px 0px;
      }
    }
    &__ok{
      &:before{
        background-position: -30px 0px;
      }
    }
    &__fb{
      &:before{
        background-position: -60px 0px;
      }
    }
    &__ig{
      &:before{
        background-position: -90px 0px;
      }
    }
    &__tt{
      &:before{
        background-position: -120px 0px;
      }
    }
    &__yt{
      &:before{
        background-position: -150px 0px;
      }
    }
  }
}