@font-face {
    font-family: 'adantino';
    src: url('fonts/adantino.eot');
    src: url('fonts/adantino.eot?#iefix') format('embedded-opentype'),
         url('fonts/adantino.woff2') format('woff2'),
         url('fonts/adantino.woff') format('woff'),
         url('fonts/adantino.ttf') format('truetype'),
         url('fonts/adantino.svg#andantino') format('svg');
    /*font-weight: normal;
    font-style: normal;*/
}
@font-face {
    font-family: 'myriad';
    src: url('fonts/MyriadProRegular.eot');
    src: url('fonts/MyriadProRegular.eot') format('embedded-opentype'),
         url('fonts/MyriadProRegular.woff2') format('woff2'),
         url('fonts/MyriadProRegular.woff') format('woff'),
         url('fonts/MyriadProRegular.ttf') format('truetype'),
         url('fonts/MyriadProRegular.svg#MyriadProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'myriadsemibold';
    src: url('fonts/myriadprosemibold.eot');
    src: url('fonts/myriadprosemibold.eot') format('embedded-opentype'),
         url('fonts/myriadprosemibold.woff2') format('woff2'),
         url('fonts/myriadprosemibold.woff') format('woff'),
         url('fonts/myriadprosemibold.ttf') format('truetype'),
         url('fonts/myriadprosemibold.svg#myriadprosemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}