.readysize{
  margin: 5px 0px 0px 0px;
  &_row{
    margin: 0px 0px 3px 0px;
    overflow: hidden;
    border: 1px solid #d8d7d6;
    background-color: #ffffff;
    @include def-border-radius(3px);
  }
  &_left{
    float: left;
    width: 302px;
    padding: 8px 0px 8px 21px;
  }
  &_right{
    margin-left: 302px;
    padding: 8px 0px 8px 0px;
  }
}