@import "mymix";
@import "bxslider";
@import "wall";
@import "fonts";
//**********************************************************/
//**********************************************************/
body{
  background: url('../image/bac.jpg') #ffffff;
  font-family: myriad, helvetica, arial, sans-serif;
  //font-family: helvetica, arial, sans-serif;
  color: #040404;
  font-size: 15px;
}
h1{
  font-family: myriadsemibold;
  text-transform: uppercase;
  font-size: 19px;
  color: #caa466;
  padding: 26px 0px 20px 0px;
}
.hide{
  display: none;
}
.field-name-body{
	ul{
    margin: 0px 0px 15px 15px;
    list-style-type: circle;
    li{
      line-height: 1.2;
    }
  }
}

//**********************************************************/
//**********************************************************/
@import "inner";
@import "breadcrumb";
@import "pager";
@import "header";
@import "hmenu";
@import "menu";
@import "content";
@import "typelist";
@import "search";
@import "services";
@import "catready";
@import "stages";
@import "partners";
@import "catitem";
@import "galitem";
@import "order";
@import "gallery";
@import "catalogwidth";
@import "advsearch";
@import "exposed";
@import "contacts";
@import "mainpager";
@import "cslider";
@import "cslidermin";
@import "map";
@import "feedback1";
@import "banner";
@import "feedback2";
@import "ajax-progress";
@import "icons";
@import "quickmenu";
@import "counter";
@import "footer";
@import "follow";
@import "fmenu";
@import "fmenu2";
@import "fshops";
@import "fcontacts";
@import "wf";