@import "mymix";
@import "bxslider";
@import "fonts";
//**********************************************************/
//**********************************************************/
body{
  background: url('../image/bac.jpg') #ffffff;
  font-family: myriad, helvetica, arial, sans-serif;
  //font-family: helvetica, arial, sans-serif;
  color: #040404;
  font-size: 15px;
}
h1{
  font-family: myriadsemibold;
  text-transform: uppercase;
  font-size: 19px;
  color: #caa466;
}
//**********************************************************/
//**********************************************************/
@import "inner";
@import "header";
@import "hmenu";
@import "menu";
@import "content";
@import "typelist";
@import "search";
@import "catalogwidth";
@import "icons";
@import "quickmenu";
@import "counter";
@import "footer";
@import "follow";
@import "fmenu";
@import "fmenu2";
@import "fshops";
@import "fcontacts";
@import "wf";