.typelist{
  padding: 16px 0px 16px 0px;
  &__double{
    padding: 16px 0px 4px 0px;
  }
  overflow: hidden;
  &_item{
    font-family: myriadsemibold;
    font-size: 19px;
    text-transform: uppercase;
    text-decoration: none;
    @include def-border-radiuses(0px, 5px, 5px, 0px);
    @include link(#5a5a59, #caa466);
    display: block;
    padding: 15px 0px 15px 0px;
    width: 32.4%;
    float: left;
    text-align: center;
    border-left: 2px solid #d9bd90;
    border-right: 2px solid #d9bd90;
    border-bottom: 2px solid #d9bd90;
    margin-left: 7px;
    &:first-child{
      margin-left: 0px;
    }
    .typelist__double &{
      padding: 8px 0px 7px 0px;
    }
    &__active{
      @include link(#caa466, #caa466);
    }
  }
  &_title{

  }
  &_descr{
    font-size: 15px;
    text-transform: none;
  }
}